[tool.poetry]
name = "tomte"
version = "0.2.15"
description = "A library that wraps many useful tools (linters, analysers, etc) to keep Python code clean, secure, well-documented and optimised."
authors = ["David Minarsch <david.minarsch@googlemail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "<4,>=3.8"
tox = {version = "==3.28.0", optional = true}
black = {version = "==23.1.0", optional = true}
bandit = {version = "==1.7.4", optional = true}
darglint = {version = "==1.8.1", optional = true}
flake8 = {version = "==3.9.2", optional = true}
flake8-bugbear = {version = "==23.1.14", optional = true}
flake8-docstrings = {version = "==1.6.0", optional = true}
flake8-eradicate = {version = "==1.4.0", optional = true}
flake8-isort = {version = "==6.0.0", optional = true}
isort = {version = "==5.11.4", optional = true}
mypy = {version = "==0.991", optional = true}
pylint = {version = "==2.13.9", optional = true}
safety = {version = "==2.4.0b1", optional = true}
vulture = {version = "==2.7", optional = true}
mkdocs = {version = ">=1.5.3,<2.0", optional = true} 
mkdocs-material = {version = "==9.4.10", optional = true}
mkdocs-macros-plugin = {version = "==0.7.0", optional = true}
mkdocs-material-extensions = {version = "==1.3", optional = true}
mkdocs-redirects = {version = "==1.2.0", optional = true}
Markdown = {version = "==3.3.7", optional = true}
markdown-include = {version = "==0.8.0", optional = true}
pydoc-markdown = {version = "==4.8.2", optional = true}
pydocstyle = {version = "==6.2.3", optional = true}
pymdown-extensions = {version = ">=10.2,<11.0", optional = true}
pytest = {version = "==7.2.1", optional = true}
pytest-asyncio = {version = "==0.20.3", optional = true}
pytest-cov = {version = "==4.0.0", optional = true}
pytest-randomly = {version = "==3.12.0", optional = true}
pytest-rerunfailures = {version = "==11.0", optional = true}
bs4 = {version = "==0.0.1", optional = true}
Pygments = {version = ">=2.16,<3.0", optional = true}
liccheck = {version = "==0.8.3", optional = true}

# don't change unless changed on open-aea
click = {version = "==8.0.2", optional = true}
requests = {version = "==2.28.1", optional = true}

[tool.poetry.extras]
black = ["black", "click"]
bandit = ["bandit"]
cli = ["click", "requests", "tox"]
isort = ["isort"]
flake8 = ["flake8", "flake8-bugbear", "flake8-docstrings", "flake8-eradicate", "flake8-isort", "pydocstyle"]
mypy = ["mypy"]
safety = ["safety"]
darglint = ["darglint"]
vulture = ["vulture"]
pylint = ["pylint"]
docs = ["mkdocs", "mkdocs-material", "mkdocs-material-extensions", "mkdocs-macros-plugin", "mkdocs-redirects", "pydoc-markdown", "pydocstyle", "pymdown-extensions", "markdown-include", "Markdown", "bs4", "Pygments", "click"]
tests = ["pytest", "pytest-asyncio", "pytest-cov", "pytest-randomly", "pytest-rerunfailures"]
tox = ["tox"]
liccheck = ["liccheck"]

[tool.poetry.dev-dependencies]
pytest = "^7.0"

[tool.poetry.scripts]
tomte = "tomte.cli:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
