[tool.poetry]
name = "tomte"
version = "0.1.3"
description = "A library that wraps many useful tools (linters, analysers, etc) to keep Python code clean, secure, well-documented and optimised."
authors = ["David Minarsch <david.minarsch@googlemail.com>"]

[tool.poetry.dependencies]
python = "^3.7"
tox = {version = "==3.24.4", optional = true}
black = {version = "==21.6b0", optional = true}
click = {version = "==8.0.2", optional = true}
bandit = {version = "==1.7.0", optional = true}
darglint = {version = "==1.8.0", optional = true}
flake8 = {version = "==3.9.2", optional = true}
flake8-bugbear = {version = "==21.9.1", optional = true}
flake8-docstrings = {version = "==1.6.0", optional = true}
flake8-eradicate = {version = "==1.1.0", optional = true}
flake8-isort = {version = "==4.0.0", optional = true}
isort = {version = "==5.9.3", optional = true}
mypy = {version = "==0.910", optional = true}
pylint = {version = "==2.11.1", optional = true}
safety = {version = "==1.10.3", optional = true}
vulture = {version = "==2.3", optional = true}
mkdocs = {version = "==1.3.0", optional = true}
mkdocs-material = {version = "==7.1.10", optional = true}
mkdocs-macros-plugin = {version = "==0.7.0", optional = true}
markdown = {version = "==3.3.4", optional = true}
markdown-include = {version = "==0.6.0", optional = true}
pydoc-markdown = {version = "==4.3.2", optional = true}
pydocstyle = {version = "==6.1.1", optional = true}
pymdown-extensions = {version = "==8.2", optional = true}
pytest = {version = "==7.0.0", optional = true}
pytest-asyncio = {version = "==0.18.0", optional = true}
pytest-cov = {version = "==3.0.0", optional = true}
pytest-randomly = {version = "==3.11.0", optional = true}
pytest-rerunfailures = {version = "==10.0", optional = true}
bs4 = {version = "==0.0.1", optional = true}
Pygments = {version = "==2.11.2", optional = true}

[tool.poetry.extras]
black = ["black", "click"]
bandit = ["bandit"]
isort = ["isort"]
flake8 = ["flake8", "flake8-bugbear", "flake8-docstrings", "flake8-eradicate", "flake8-isort", "pydocstyle"]
mypy = ["mypy"]
safety = ["safety"]
darglint = ["darglint"]
vulture = ["vulture"]
pylint = ["pylint"]
docs = ["mkdocs", "mkdocs-material", "mkdocs-macros-plugin", "pydoc-markdown", "pydocstyle", "pymdown-extensions", "markdown-include", "markdown", "bs4", "Pygments"]
tests = ["pytest", "pytest-asyncio", "pytest-cov", "pytest-randomly", "pytest-rerunfailures"]
tox = ["tox"]

[tool.poetry.dev-dependencies]
pytest = "^7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
